{% extends 'base.html' %}
{% block title %}
UPDATE PAGE
{% endblock %}
{% block body %}
    <form action='' method='POST'>
        {% csrf_token %}
        <br>
        수정할 내용: <br>
        <input type="text" name="c_text" value="{{ choice.survey }}"><br>
        <br>
        <input type='submit' value="의견 등록">
    </form>
    <form action='{% url "app:choice_del" q.id choice.id %}' method='POST'>
            {% csrf_token %}<br>
            <input type='submit' value="의견 삭제">
        </form>
{% endblock %}