{% extends 'base.html' %}
{% block body %}
제목 : {{ art.title }} <br>
내용 : {{ art.content }} <br>

<a href="{% url 'crud:update' art.id %}">수정하기</a>
<form action='{% url "crud:delete" art.id %}' method='POST'>
    {% csrf_token %}
    <input type='submit' value="삭제하기">
</form>

<hr><br>
<form action='{% url "crud:comment" art.id %}' method='POST'>
   
    전체 댓글 갯수 : {{comments|length}} <br>
     <!-- 방법1 , 추천방식-->

     <!-- {#{art.comment_set.all|length}} -->
     <!-- 방법2, 시간 좀 걸림 -->

     <!-- 전체 댓글 갯수 : {#{comments.count}} <br> --> 
     <!-- 방법3, 시간 오래걸림 -->

    {% csrf_token %}
    댓글달기: <input type="text" name="comment">
    <input type='submit'>
</form>

<hr><br>
<div>
    {% for com in comments%}
    <li>{{com.comment}} <br>
        <a href="{% url 'crud:comment_edit' art.id com.id %}">댓글 수정</a>
        <form action='{% url "crud:comment_del" art.id com.id %}' method='POST'>
            {% csrf_token %}
            <input type='submit' value="댓글 삭제">
        </form>
    </li>
    {% empty %} 
    <!-- 댓글이 없을 때 출력되는 부분 -->
    <h2>등록된 댓글이 없어요~</h2>
    <hr>
    {% endfor %}
</div>
{% endblock %}

