<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BoardReal</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>lab.board.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BbsWriteAction</servlet-name>
    <servlet-class>lab.board.controller.BbsWriteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsWriteAction</servlet-name>
    <url-pattern>/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BbsListAction</servlet-name>
    <servlet-class>lab.board.controller.BbsListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsListAction</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BbsViewAction</servlet-name>
    <servlet-class>lab.board.controller.BbsViewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsViewAction</servlet-name>
    <url-pattern>/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BbsModifyAction</servlet-name>
    <servlet-class>lab.board.controller.BbsModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsModifyAction</servlet-name>
    <url-pattern>/modify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BbsRemoveAction</servlet-name>
    <servlet-class>lab.board.controller.BbsRemoveAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsRemoveAction</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>BbsCommentAction</servlet-name>
    <servlet-class>lab.board.controller.BbsCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BbsCommentAction</servlet-name>
    <url-pattern>/comment.do</url-pattern>
  </servlet-mapping>
</web-app>